@media only screen and (max-width: 768px) {
    .academy_content{
        >.top{
            
            >div{
                >p{
                    text-align: justify;
                    >h3{
                        text-align: center;
                        font-size: 1rem;
                    }

                    >div{
                        display:grid ;
                        grid-template-columns: 1fr 1fr;
                        >button{
                            align-items: center !important;
                            justify-content:center !important;
                            >h4{
                                text-align:center !important;
                            }
                            >p{
                                text-align: center !important;
                            }
                        }
                    }

                    >h4{
                       
                        text-align:justify;
                    }

                    >.line_start{
                        
                        width:80vw;
                        >button{
                            width:70vw;
                            margin-left: 1rem;
                            display:flex;
                            justify-content:center;
                            align-items: center;
                        }
                    }
                }
               

                >div{
                    
                    >h3{
                        font-size: 1rem;
                        text-align:center;
                    }

                    >div{
                        
                        >div{
                            margin-bottom: 1rem;
                            >h2{
                                font-size: 0.8rem;
                                color:gray;
                            }

                            >svg{
                                font-size: 2rem !important;
                                color:gray;
                            }
                        }
                    }
                }
            }
        }
    }
}