@media only screen and (max-width: 768px) {
    .books{
        width:80vw;
        >div{
            
            display:grid;
            grid-template-columns:50% 50%;
            
            >div{
                margin-bottom: 2rem;
            }
        }
    }
}