.cartes{
    display:flex;
    
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
    >h1{
        text-align:center;
        color:indianred;
    }
    >div{
        flex:1;
        display:flex;
        
        margin-bottom: 2rem;
        >img{
            width:200px;
            height:200px;
            margin-right: 1rem;
        }
        >div{
            text-align: left;
            >p{
                margin:0;
                font-size:1rem;

                &.tech{
                    margin-top: 1rem;
                    font-size: 1rem;
                    >span{
                        font-weight: bold;
                    }
                }
                &.delai{
                    font-size: 1rem;
                    margin-top: 0.5rem;
                    >span{
                        font-weight: bold;
                    }
                }
                &.prix{
                    font-size: 1rem;
                    margin-top: 0.5rem;
                    >span{
                        font-weight: bold;
                    }
                }
                &.bonus{
                    font-size: 1rem;
                    margin-top: 0.5rem;
                    >span{
                        font-weight: bold;
                    }
                }
            }

            >button{
                padding:0.5rem 1rem;
                border:none;
                background-color:indianred;
                color:white;
                font-weight: bold;
                margin-top: 0.5rem;
                cursor: pointer;

                &.buy{
                    background-color:green;
                }
            }
        }
        
    }
}