.cartes{
    display:grid;
    grid-template-columns:25% 25% 25% 25%;
    
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
    grid-gap: 1rem;
    padding-top: 1rem;
    
    >h1{
        text-align:center;
        color:indianred;
        font-size: 1.5rem;
    }
    >div{
        flex:1;
        display:flex;
        flex-direction: column;
        margin-bottom: 2rem;
        border:1px solid silver;
        padding:0.5rem;
        padding-bottom: 3rem;
        position:relative;
        border-radius: 5px;
       
        

        &:hover{
            opacity: 0.6;
        }
        >img{
            width:100%;
            height:200px;
            margin-right: 1rem;
        }

        
        >div{
            text-align: left;
            min-height:250px;
            >h2{
                font-size: 1.1rem;
            }
            
            >div{
                font-size: 0.8rem;
               
            
                &.info{
                    position:absolute;
                    bottom:0.2rem;
                    >p{
                        margin:0;
                        font-size:0.8rem;
        
                        &.tech{
                            margin-top: 1rem;
                            font-size:0.8rem;
                            >span{
                                font-weight: bold;
                            }
                        }
                        &.delai{
                            font-size:0.8rem;
                            margin-top: 0.5rem;
                            >span{
                                font-weight: bold;
                            }
                        }
                        &.prix{
                            font-size:0.8rem;
                            margin-top: 0.5rem;
                            >span{
                                font-weight: bold;
                            }
                        }
                        &.bonus{
                            font-size:0.8rem;
                            margin-top: 0.5rem;
                            >span{
                                font-weight: bold;
                            }
                        }
                    }

                    >button{
                        padding:0.5rem 1rem;
                        border:none;
                        background-color:indianred;
                        color:white;
                        font-weight: bold;
                        margin-top: 0.5rem;
                        cursor: pointer;
                        font-size:0.8rem;
                        
                        &.buy{
                            background-color:green;
                        }
                    }
                }
            }
            

            
        }
        
    }
}