.footer{
   
    background-color: #ccc;
    
    width: 100%;
    display:flex;
    justify-content: space-between;

    >div{
        margin:2rem;
        margin-top: 0.5rem;
        flex:1;

        >h1{
            font-size: 1.5rem;
            margin-top: 0;
            margin-bottom: 0;
            border-bottom: 1px solid black;
        }
        >ol{
            margin:0;
            margin-top: 1rem;
            padding:0;
            list-style: none;

            >li{
                margin-bottom: 0.2rem;
                >a{
                    font-size: 0.8rem;
                    text-decoration: none;
                    color:black;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }

        >p{
            margin:0;
            font-size: 0.8rem;
            display:flex;
            align-items: center;
            gap:0.5rem;
        }

        >.contacts{
            >div{
                
                margin-top: 1rem;
                >h3{
                    margin:0;
                    font-size: 0.7rem;
                }
                >p{
                    margin:0;
                    font-size: 0.7rem;
                    display:flex;
                    align-items: center;
                    gap:0.5rem;
                    margin-top: 0.5rem;
                }
            }
            
        }

        >div{
            
            &.socials{
                margin-top: 1rem;
                display:flex;
                align-items: center;
                >a{
                    flex:1;
                    color:black;
                }
            }

            &.contacts{
                border-top:1px solid silver;
                margin-top: 1rem;
                >p{
                    margin:0;
                    display:flex;
                    align-items: center;
                    gap:0.5rem;
                    font-size: 0.8rem;
                }
            }
        }
    }
}