.lesson{
   
    >.lesson_content{
        position:absolute;
        top:60px;
        display:flex;
        margin-top: 1rem;
        gap:1rem;
        width:100vw;
        >.left{
            width:300px;
            margin-left: 1rem;
            border:1px solid silver;
            padding-bottom: 1rem;
            >.top{
                background-color:black;
                color:white;
                display:flex;
                align-items: center;
                gap:0.5rem;
                >h4{
                    margin:0;
                    font-size: 0.8rem;
                }
                >button{
                    padding:0.5rem;
                    background-color:transparent;
                    color:white;
                    border:none;
                    cursor: pointer;
                }
            }
        }

        >.right{
            flex:1;
            border:1px solid silver;
            margin-right: 1rem;
            min-height:calc(100vh - 100px);
            >.top{
                background-color: black;
                display:flex;
                align-items:center;
                >button{
                    padding:0.5rem;
                    width:150px;
                    display:flex;
                    align-items: center;
                    gap:0.5rem;
                    background-color:transparent;
                    border:none;
                    color:white;
                    cursor: pointer;

                    >p{
                        margin:0;
                        padding-bottom: 0.2rem;
                        text-align: left;
                    }

                    &.active{
                        font-weight: bold;
                        >p{
                            border-bottom:1px solid
                        }
                    }
                }
            }
        }
        
    }
}