.lesson_quiz{
   width:calc(100% - 300px);
   min-height:calc(100vh - 130px);
   max-height:calc(100vh - 130px);
   overflow-y: auto;

   >.result{
       display:flex;
       align-items: center;
       justify-content:center;

   }
   >.no_data{
    display:flex;
    flex-direction: column;
    align-items: center;
    >img{
        width:100px;
    }
    >p{
        margin:0;
        font-size: 0.8rem;
    }
}


}