@media only screen and (max-width: 768px) {
    .lesson_content{
        flex-direction: column;
        >.left{
            width:90% !important;
            max-height:auto !important;
            min-height:auto !important;
            overflow:auto !important;
        }

        >.right{
            
            margin-left: 1rem;
            margin-bottom: 2rem;
            border:none !important;
            >.body{
                
                >.lesson_note{
                    position:fixed;
                    bottom:0;
                    display:none;
                }

                >.chapter_content{
                    >video{
                        width:100%;
                        height:min(400px,60vh);
                    }
                }

                >.lesson_quiz{
                    width:100%;

                }
                >.lesson_task{
                    width:100%;
                    
                }
            }
        }
    }
}

