@media only screen and (max-width: 600px) {
    .lesson_content{
        flex-direction: column;
        >.left{
            width:90% !important;
            max-height:auto !important;
            min-height:auto !important;
            overflow:hidden !important;
        }

        >.right{
            max-height: auto !important;
            overflow:hidden !important;
            margin-left: 1rem;
            >.body{
                >.lesson_note{
                    position:fixed;
                    bottom:0;
                    display:none;
                }

                >.chapter_content{
                    >video{
                        width:100%;
                        height:400px;
                    }
                }

                >.lesson_quiz{
                    width:100%;

                }
                >.lesson_task{
                    width:100%;
                    
                }
            }
        }
    }
}

