@media only screen and (max-width: 768px) {
    .user{
        margin-right:1rem !important;
       
        .menu{
            margin-left: 0 !important;
            margin-right: 0 !important;
            
            >button{
                width:40px;
                height: 40px;
                object-fit:cover !important;
                >img{
                    width: 40px !important;
                    height: 40px !important;
                    object-fit:cover !important;
                }
            }
        }
    }
    
}