@media only screen and (max-width: 768px) {
    .mes_formations{
       
        margin-top: 1rem;
        margin-bottom: 1rem;
        >h1{
            text-align:center;
        }
        >.top{
            flex-direction: column;
            gap:0.5rem;
            width:100%;
            >.line{
                width:min(400px,100%);
            }

            >button{
                position:fixed;
                bottom:2rem;
                right:1rem;
                width:50px;
                height:50px;
                border-radius: 50%;
                display:flex;
                align-items: center;
                justify-content:center;
                z-index: 999;
                >span{
                    display:none;
                }
            }
        }

        >.content{

           
            >.lines{
                grid-template-columns: 100%;
                >.line{
                   
                    >div{
                        min-height:0;
                        width:95%;
                    }
                }
            }
            
        }
    }
}