@media only screen and (max-width: 600px) {
    .nav {
       
      >.logo{
          margin-left: 1rem !important;
          >img{
              width:40px !important;
              height:40px !important;
          }
      }
      >.menu{
          
          margin-right: 0 !important;
          margin-left: 0 !important;
          >a{
              margin-right: 0 !important;
              
              flex:1;
              display:flex;
              justify-content:center;
              >a{
                  display:none;
              }
          }
      }
    }
  }