@media only screen and (max-width: 600px) {
    .nav {
       
      >.logo{
          margin-left: 0 !important;
          >img{
              width:60px;
          }
      }
      >.menu{
          >a{
              >a{
                  display:none;
              }
          }
      }
    }
  }