@media only screen and (max-width: 768px) {
    .profile_content{
        >.top{
           flex-direction: column;
           >.line{
               min-height:0 !important;
               border-right:none !important;
           }

           >.matieres{
               grid-template-columns: 45% 45% !important;
           }
        }
    }
}

