@media only screen and (max-width: 600px) {
    .security_content{
        >.top{
            >div{
                flex-direction: column;
                >div{
                    display:flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content:center;
                }

                &.zone_contact{
                    width:80vw;
                }
            }
        }
    }
}

