.timer{
   
    >h1{
        color:indianred;
        margin:0;
        padding:0;
    }

    >div{
        
        >span{
            font-size: 3rem;
            margin-right: 0.5rem;
            margin-left: 0.5rem;

            >span{
                font-size: 1rem;
                color:dimgray;
            }
        }
    }
}